<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
    <style>
        body{
            text-align: center;
        }
    </style>
  </head>
  <body>
      <div class="card border-success mb-10" style="max-width: 100rem;">
  <div class="card-header bg-transparent border-success"><h1>Portfolio Page</h1></div>
  <div class="card-body text-success">
    <h2 class="card-title">This is dynamic page Only thing dynamic is my Name</h2>
    <h4>created By jacob</h4>
    
  </div>

  </body>
</html>
